# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- List development environment open source tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. matplotlib

|Data Science Tools|
|------------------|
|Jupyter Lab|
|Rstudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Donggeun Han